#head-navbar {
  width: 100%;
  display: inline-block;
}
.nav>li {
  display: inline-block;
  width:initial;
  float:left;
  white-space: nowrap;
  margin-right: 15px;

}
/*.nav {*/
/*  display: inline-block;*/
/*}*/

/*@media screen and (max-width:768px)*/
/*{*/
/*  .nav.navbar-nav.pull-right { float:none !important; }*/
/*}*/
